@charset "UTF-8";

.view360content {
    position: relative;
}
.view360content .dragArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url('./cursor.cur'),move;
    background-image: url('./icon.svg');
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: center;
}
.view360content.mousedown .dragArea {
    background-image: none;
}